body{
	background-image: url(../images/footer_lodyas.png);
	font-family: "Roboto", sans-serif;
}

.container {
	width:85%;
}

label{
	padding: 0;
	margin: 0;
}

.rating {
	text-transform: uppercase;

}

.moviesButton {
	font-family: "Roboto", sans-serif;
	float: left;
	margin: 10px 0px;
	padding: 10px;
	color: white;
}

aside {
	font-family: "Roboto", sans-serif;
	position: static;
	float: none;
	color: white;
}

h3 {
	font-weight: bold;
	letter-spacing: .08em;
}

#movie-input {
	font-family: "Roboto", sans-serif;
	color: black;
	width: 300px;
	padding: .2em .2em;
}

button, #addMovie, #clearButton {
	font-family: "Roboto", sans-serif;
	padding: .2em 1em;
	margin-right: .5em;
	margin-bottom: .8em;
	background-color: white;
	color: black;
	border: 0px;
}

.item {
	font-family: "Roboto", sans-serif;
	float: left;
	display: inline;
	margin: 10px;
	border:1px solid black;
	padding: 5px;
	background: #fff;
	position: relative;
}

[data-state="still"] {
	opacity: 0.5;
}

.playButton [data-state="still"] {
	display: none;
}

.playButton {
	position: absolute;
	top: 10px;
	left: 10px;
	opacity: 1.0;
	width: 70px;
	height: 70px;
}


